:root, :root::after, :root::before {
    /*colors*/
    --primary-background-color: white;
    --primary-text-color: black;
    --dark-background-color: hsl(212, 100%, 4%);
    --secondary-background-color: hsl(212, 100%, 6%);
    --dark-neutral-text-color: #fff;
    --dark-gray-text-color: rgb(202, 202, 202);
    --dark-gray-text-color-6: #808080;
    --light-neutral-text-color: #000;
    --seriffont: "beaufort-pro", serif;
    --sans-font: "open-sans", sans-serif;
    --dark-line-color: rgba(255, 255, 255, 0.2);
    --primary-color: #D0A85C;
    --negative-color: #d93d51;
    --positive-color: #008000;
    --blue-team-color: #5383E8;

    --solid-line-color: #cccccc;
    --solid-line-color-hover: #999999;



    /*font-sizes*/
    --global-fz-1: .7rem;
    --global-fz-2: .75rem;
    --global-fz-3: .8rem;
    --global-fz-4: .9rem;
    --global-fz-5: 1rem;
    --global-fz-6: 1.2rem;
    --global-fz-7: 1.5rem;
    --global-fz-8: 2.5rem;
    --global-fz-9: 3.75rem;
    --global-fz-10: 7rem;



    /*shadows*/
    --global-shadow: 0 4px 8px rgba(0, 0, 0 ,.3);
    --global-text-shadow-sm: 0 0 10px black;
    --global-text-shadow-lg: 0 0 .31em black;


    /* notched corner */
    --notched-border-background-color: white;
    --notched-border-width: .075em;
    --notched-border-color: #C1C1C1;
    --notched-border-edge-size: 1em;

    /*    loading icon*/
    --loader-color: #fff;
    --loader-wheel-color: var(--dark-background-color);

    /* borders    */
    --global-border: 1px solid var(--dark-line-color);
    --global-focus-color: #00B7FF;

    --global-whitespace-1: .5rem;
    --global-baseline: var(--global-whitespace-1);
    --global-whitespace-2: calc(var(--global-whitespace-1) * 2);
    --global-whitespace-3: calc(var(--global-whitespace-1) * 3);
    --global-whitespace-4: calc(var(--global-whitespace-1) * 4);
    --global-whitespace-5: calc(var(--global-whitespace-1) * 5);
    --global-whitespace-6: calc(var(--global-whitespace-1) * 6);


    /* mouse stuff*/
    --mouse-pos-x: 50%;
    --mouse-pos-y: 50%;
}

/*@media (prefers-color-scheme: dark){*/
/*    :root{*/
/*        --primary-background-color: var(--dark-background-color);*/
/*        --secondary-background-color: hsl(212, 5%, 7%);*/
/*        --primary-text-color: var(--dark-neutral-text-color);*/
/*        --light-neutral-text-color: #FFF;*/
/*        --dark-gray-text-color: #808080;*/
/*        !*--notched-border-color: #808080;*!*/
/*        --dark-line-color: rgba(0, 0, 0, 0.2);*/
/*        --notched-border-background-color: var(--primary-background-color);*/
/*        --solid-line-color: #333;*/
/*        --notched-border-color: #555;*/
/*    }*/
/*}*/

/*region GENERIC*/


/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/
html{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    color: var(--primary-text-color);
}

*, *:where(:before, :after){
    box-sizing: inherit;
}
/*endregion*/

/* region elements */

/*------------------------------------*\
#Elements
\*------------------------------------*/

body {
    font-family: var(--sans-font);
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    padding-bottom: 5rem;
    background-color: var(--primary-background-color);
}

.o-row{
    margin-inline: var(--global-whitespace-1);
}

@media (min-width: 576px) {

    .o-row{
        margin-left: var(--global-whitespace-2);
        margin-right: var(--global-whitespace-2);
    }
}


html, body {
    width: 100%;
    overflow-x: hidden;
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
}

a {
    color: var(--global-focus-color);
}


footer{
    background-color: var(--dark-background-color);
    color: var(--dark-gray-text-color);
    text-align: center;
    padding: var(--global-whitespace-2);
    margin: var(--global-whitespace-3) 0 0;
    position: absolute;
    inset: auto 0 0 0;
}
/*endregion*/

/*region objects*/
.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
@media(min-width: 576px){
    .o-container {
        max-width: 90rem;
    }
}


/*endregion*/


/*region components*/
/*component user search bar*/
.userForm {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    margin: 0 auto ;
    transition: animation 0.5s;
    justify-self: center;
}

/*
* searchbar
*/

/* region searchbar */

.c-searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.c-searchBar__query {
    width: 100%;
    height: 2.8rem;
    background: transparent;
    outline: none;
    border: none;
    padding: 0 3.5rem 0 var(--global-whitespace-3);
    font-size: var(--global-fz-5);
    color: var(--primary-text-color);
}


.c-searchBar__submit {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    display: grid;
    grid-template-areas: "a";
    place-items: center;
    width: 2.8rem;
    height: 2.8rem;
    right: .7rem;
}

.c-searchBar__region {
    position: absolute;
    width: 3.5rem;
    height: 2.8rem;
    right: 3.5rem;
    background: none;
    border: none;
    outline: none;
    /* isolate z-index */
    isolation: isolate;
    font-family: var(--sans-font);
    font-size: var(--global-fz-4);
    color: var(--primary-text-color);

}

:where(.c-searchBar__submit, .c-searchBar__region):hover {
    cursor: pointer;
}

/* form valid */
.c-searchBar.c-form-valid {
    --notched-border-color: green;
    --notched-border-width: .15em;
}

/* rotate the search icon, and make it a checkmark*/
.c-searchBar__search-icon {
    opacity: 1;
    transition: rotate 500ms ease, opacity 500ms ease;
    grid-area: a;
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.c-searchBar__valid {
    grid-area: a;
    opacity: 0;
    transition: rotate 500ms ease, opacity 500ms ease;
    width: 100%;
    aspect-ratio: 1/1;
}

.c-searchBar__submit svg {
    display: block;
    padding: 9px;
    fill: #666;
    width: 100%;
    aspect-ratio: 1/1;
}


.c-form-valid .c-searchBar__valid {
    rotate: 360deg;
    /*animation-fill-mode: forwards;*/
    opacity: 1;
}

.c-form-valid .c-searchBar__search-icon {
    rotate: 360deg;
    /*animation-fill-mode: forwards;*/
    opacity: 0;
}

/* endregion */



/*container to put cards in*/


.c-cards__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: var(--global-whitespace-2);
    /*margin: 0 var(--global-whitespace-2);*/
}

@media (min-width: 576px) {
    .c-cards__container{
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        gap: var(--global-whitespace-3);
        margin: 0 auto;
    }
}


/* region cards */
.c-card {
    background: var(--secondary-background-color);
    display: grid;
    cursor: pointer;
    height: 100%;
}
.c-card__container{
    filter: drop-shadow(var(--global-shadow));
    cursor: pointer;
    text-decoration: none;
}

.c-card__body {
    padding: 0 var(--global-whitespace-1);
    margin-top: -4px;
    margin-bottom: var(--global-whitespace-1);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: var(--global-fz-3);
}
@media (min-width: 576px) {
    .c-card__body{
        font-size: var(--global-fz-5);
    }
}


.c-card__winrate {
    position: absolute;
    top: -2.5em;
    right: var(--global-whitespace-1);
}

.c-card__kda {
    display: inline;
    margin: 0;
    padding: 0;
    color: var(--dark-gray-text-color-6);
}

.c-card__played {
    display: inline;
    margin: 0;
    padding: 0;
    color: var(--dark-gray-text-color-6);

}

.c-card__title {
    color: var(--dark-neutral-text-color);
    letter-spacing: .08rem;
    padding: 0 var(--global-whitespace-1);
    margin: var(--global-whitespace-1) 0;
    font-size: var(--global-fz-5);
    max-width: 80%;
    transition: transform 250ms ease;
    transform-origin: left;

}

.c-card__img {
    width: 100%;
    /*aspect-ratio: 3/4;*/
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    transition: transform 250ms, visibility 250ms ease-in;
    transform-origin: 50% 50% ;

    display: inline-block;
}
.c-card__img-container{
    height: 100%;
    overflow: hidden;
}


.c-card__container:where(:hover, :focus-within, :active) .c-card__img {
    transform: scale(1.1);
}

.c-card__container:where(:hover, :focus-within, :active) .c-card__title {
    transform: translateX(1.5%);
}

/*endregion */

/* create a popup card that is scrollable */
/*region popup*/
.c-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: var(--dark-background-color);
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-animation: slide-in .3s ease;
    -o-animation: slide-in .3s ease;
    animation: slide-in .3s ease;
    box-shadow: var(--global-shadow);
}

@media (min-width: 576px) {
    .c-popup{
        -webkit-animation: expand .4s ease;
        -o-animation: expand .4s ease;
        animation: expand .4s ease;
        transform-box: border-box;
        transform-origin: var(--mouse-pos-x) var(--mouse-pos-y);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 95vw;
        max-height: 95vh;
    }
}
@media (min-width: 800px) {
    .c-popup{
        min-width: 80vw;
        max-width: 90rem;
        max-height: 95vh;
    }
}


.c-popup__container{
    padding: 0;
    margin: 0;

}

.c-popup__content {
    margin: 0 var(--global-whitespace-2);
    padding: 0;
}



.c-popup__close{
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    /* place the close button a bit off the side and top*/
    margin: var(--global-whitespace-1);
    z-index: 1000;
    fill: white;
    outline: none;
    width: fit-content;
    height: fit-content;
}


.c-popup__close:focus-visible .c-popup__close--svg-container{
    --notched-border-color: var(--global-focus-color);
    --notched-border-width: .2em;
}

.c-popup__close:is(:focus-visible, :hover) .u-notched-border
{
    clip-path: polygon(0 0, 100% 0, 100% 100% , 100%  100%, 0 100%, 0 0) !important;
}

.c-popup__close:is(:focus-visible, :hover) .u-notched-border::after
{
    clip-path: polygon(
        /*top left 2*/      var(--notched-border-width) var(--notched-border-width),
                /*top right*/       calc(100% - var(--notched-border-width)) var(--notched-border-width),
                /*bottom 1*/        calc(100% - var(--notched-border-width)) calc(100% - var(--notched-border-width)) ,
                /* bottom-right 2*/ calc(100% - var(--notched-border-width)) calc(100% - var(--notched-border-width)),
                /* bottom left */   var(--notched-border-width) calc(100% - var(--notched-border-width)),
                /* top left  1*/    var(--notched-border-width) var(--notched-border-width));
    /*margin: 1px;*/
}

.c-popup p{
    font-size: var(--global-fz-5);
    line-height: 1.2;
    padding-top: var(--global-whitespace-2);
    font-family: var(--sans-font);
    color: var(--dark-neutral-text-color);
}

.c-popup h2{
    font-size: var(--global-fz-8);
    font-family: var(--seriffont);
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 0;
    margin-bottom: var(--global-whitespace-2);
    color: var(--dark-neutral-text-color);
}

.c-popup h3{
    font-family: var(--seriffont);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark-neutral-text-color);
}
.c-popup h4{
    color: var(--dark-neutral-text-color);
    font-size: var(--global-fz-2);
    font-family: var(--seriffont);
    font-weight: 400;
    text-transform: uppercase;
}

.c-popup__close--svg-container{
    cursor: pointer;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: .7rem;
}


.c-popup__close svg{
    /*margin: var(--global-whitespace-1);*/
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.c-popup__header {
    position: relative;
}

.c-popup__champ--img {
    object-fit: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 0;
    margin: 0;
}

.c-champ__title {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    font-family: var(--seriffont);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    width: 90vw;
}

.c-popup__champ--name {
    color: var(--dark-neutral-text-color);
    font-size: var(--global-fz-9);
    line-height: 1;
    text-shadow: var(--global-text-shadow-lg);
}

.c-popup__champ--description {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: var(--global-text-shadow-lg);
    font-size: var(--global-fz-4);
    line-height: 1.5;
}

.c-popup .u-notched-border {
    --notched-border-background-color: var(--dark-background-color);
    --notched-border-color: white;
}


.c-popup__match-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* region loading icon */
.c-loader{
    border: 8px solid var(--loader-wheel-color); /* Light grey */
    border-right: 8px solid var(--loader-color); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s cubic-bezier(.79,.14,.15,.86) infinite
}

.c-not-logged-in-img{
    display: block;
    aspect-ratio: 1/1;
}




/* endregion */

@media (min-width: 576px) {

    /* darken the page when popup is shown*/
    .c-popup__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }
    .c-popup__content {
        padding: 0;
        margin: 0;
    }
    .c-popup h2{
        font-size: var(--global-fz-9);
    }

    .c-popup__champ--description {
        font-size: var(--global-fz-7);
        line-height: 1.5;
        text-shadow: var(--global-text-shadow-sm)
    }
    .c-popup__champ--name {
        font-size: var(--global-fz-10);
        text-shadow: var(--global-text-shadow-sm);
    }

    .c-card__body {
        font-size: var(--global-fz-5);
        padding: 0 var(--global-whitespace-2);
        margin-bottom: var(--global-whitespace-2);
        margin-top: -8px;
    }
    .c-card__title{
        font-size: 1.1rem;
        padding: 0 var(--global-whitespace-2);
        margin: var(--global-whitespace-2) 0;
    }
    .c-card__winrate{
        top: -3em;
        right: var(--global-whitespace-2);
    }
}

.c-row {
    border-bottom: var(--global-border);
    padding: var(--global-whitespace-2) 0;
}

.c-row:last-child {
    border-bottom: none;
}


.c-row__abilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

@media (min-width: 576px) {
    .c-row__abilities {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 3.75rem var(--global-whitespace-2);
    }
}


.c-row__lore {
    flex-basis: 50%;
    font-weight: normal;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-row__lore--text {
    border-top: var(--global-border);
    max-width: 100%;
}

.c-row__role {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-row__role--icon {
    width: 4rem;
    height: 4rem;
    fill: var(--primary-color);
}

.c-role__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--global-whitespace-2);

}

.c-row__role--tag {
    color: var(--primary-color);
    font-size: var(--global-fz-3);
    text-transform: uppercase;
    font-family: var(--sans-font);
    margin-top: 10px;
}

.c-row__role--roles {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--global-whitespace-3);


}

.c-row__role--name {
    font-size: var(--global-fz-6);
    text-transform: uppercase;
    font-family: var(--sans-font);
}



@media(min-width: 576px) {
    .c-row__lore--text {
        max-width: 30rem;
        border-top: none;
        padding-left: var(--global-whitespace-1)
    }

    .c-row__lore {
        border-left: var(--global-border)
    }
}

.c-popup__abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--global-whitespace-2);
    border-bottom: var(--global-border);
}


.c-popup__abilities--text-container {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 120%;
    display: flex;
}


.c-abilities_video {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--global-whitespace-2);
    position: relative;
}

.c-abilities__text {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.c-abilities_video video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
}



.c-abilities__icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--global-whitespace-2);
}



.c-abilities__description {
    font-size: var(--global-fz-5);
    color: var(--dark-neutral-text-color)
}
.c-ability-description br:nth-child(3n + 3) {
    display: none;
}

.c-abilities__description h4 {
    color: var(--dark-neutral-text-color);
    font-size: var(--global-fz-2);
    font-family: var(--seriffont);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.c-abilities__description h3 {
    margin-top: 0;
    margin-bottom: var(--global-whitespace-2);
}

.c-abilities__description p {
    font-family: var(--sans-font);
    margin: var(--global-whitespace-2) 0;
}

.c-abilities__icon {

    aspect-ratio: 1/1;
    max-width: 100%;
}
.c-abilities__img-container{
    transition: transform .2s ease-in-out;
    position: relative;
}

.c-abilities__img-container:focus-visible{
    outline: none;
}

.c-abilities__img-container:focus-visible img{
    box-shadow: 0 0 0 3px var(--global-focus-color);
    outline: none;
}

.c-abilities__icon__border{
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    fill: transparent;
    inset: -6px;
}
.c-abilities__icon__border path{
    stroke: var(--primary-color);
    stroke-width: 2px;
    fill: transparent;
    inset: -6px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s ease-in-out forwards;

}




.c-abilities__icon:first-child {
    /*padding-left: 0;*/
}

.c-abilities__img-container:hover,
.c-abilities__img-container:focus-visible{
    transform: translateY(-5px);
}




.c-abilities__icon-container .u-selected-icon {
    transform: translateY(-10px);
}

@media (min-width: 576px){



    .c-abilities_video{
        padding: 0 var(--global-whitespace-2);
        margin: 3rem 0;
    }
    .c-abilities__icon-container {
        justify-content: flex-start;
    }
    .c-popup__abilities {
        padding: 0 var(--global-whitespace-3);
        flex-wrap: nowrap;
    }
    .c-abilities__text {
        padding: 0 var(--global-whitespace-2);
        margin-top: var(--global-whitespace-2);
    }
    .c-abilities__icon {
        /*padding: 12px;*/
    }
    .c-abilities__img-container:first-child .c-abilities__icon{
        /*padding-left: 0;*/
    }

}

/* region statistics*/

/*no matches*/
.c-no-matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--global-whitespace-2);
    text-align: center;
}


.c-match-card__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--global-whitespace-2);
    width: 100%;
}
.c-match-card__container span{
    color: var(--dark-neutral-text-color);
}
.c-match-card{
    margin: 0;
    width: 100%;
}

/* do with grid instead, for mobile first, change the grid columns and grid rows*/
.c-match-card__header{
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 2rem 4rem 2rem 1fr;
    padding: var(--global-whitespace-2);
    column-gap: 0;
    justify-items: start;
    --notched-border-color: var(--dark-line-color) !important;
    --notched-border-width: .1em !important;
}




.c-match-card__header--metadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-match-card__header--metadata :where(h3, p){
    margin: 0 !important;
    padding: 0 !important;
}
.c-match-card__header--summoners-runes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.c-match-card__header--summoners-runes-container :nth-child(2n+1){
    grid-row: 1;
}
.c-match-card__header--summoners-runes-container :nth-child(2n){
    grid-row: 2;
}
.c-match-card__header--champ{
    position: relative;
    max-height: 4rem;
    max-width: 4rem;
}
.c-match-card__header--champ img{
    max-width: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}
.c-match-card__header--champ span{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    background-color: var(--dark-background-color)
}
.c-match-card__header--summoners-runes-container img{
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;

}
.c-match-card__header--result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-match-card__header--result p{
    margin: 0;
    padding: 0;
}
.c-match-card__header--items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    max-height: 4.25rem;
}
.c-match-card__header--items img{
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.c-match-card__header--items :nth-child(odd){
    grid-row: 1;
}
.c-match-card__header--items :nth-child(even){
    grid-row: 2;
}
.c-expand-container{
    border-left: var(--global-border);
    padding-left: var(--global-whitespace-1);
}
.c-expand-container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.c-expand-container svg {
 transition: rotate 0.2s ease-in-out;
    width: 1.5rem;
}

.c-expand-container button:hover{
    background-color: rgba(255, 255, 255, 0.1);

}
.c-expand-container button:where(:active, :focus-visible){
    outline: 1px solid var(--global-focus-color);
    background-color: rgba(255, 255, 255, 0.1);
}


.c-expand-container svg{
    fill: white;
}

@media(min-width: 576px){
    .c-match-card__header{
        grid-template-columns: 3fr 5rem 2fr 4fr 4fr 1fr;
        grid-template-rows: 1fr;
        gap: var(--global-whitespace-1);
        justify-items: center;
    }
    .c-match-card__container{
        /*width: auto;*/
        max-width: 50rem;

    }
    .c-match-card__container :where(p, h3) {
        font-size: var(--global-fz-6);
    }
    .c-match-card__header--summoners-runes-container img{
        width: 2.5rem;
    }
    .c-match-card__header--champ{
        max-height: 5rem;
        max-width: 5rem;
    }
    .c-match-card__header--champ img{
        max-width: 5rem;
    }
    .c-match-card__header--items{
        max-height: 5rem;
    }
    .c-match-card__header--items img{
        width: 2.5rem;
    }

    .c-match__body *{
        font-size: var(--global-fz-5);
    }


}


@media (max-width: 576px) {

    .c-match-card__header{
        padding: var(--global-whitespace-1);
    }
    .c-match-card__header p{
        margin: 0;
        padding: 0;
    }


    .c-match-card__header--champ{
        grid-column: 1;
        grid-row : 2
    }
    .c-match-card__header--metadata{
        grid-column: 1/4;
        grid-row : 1;
        flex-direction: row;
        gap:var(--global-whitespace-2);

    }
    .c-match-card__header--metadata :where(h3, p){
        margin: 0;
        font-size: var(--global-fz-4);
    }

    .c-match-card__header--metadata h3 {
        order: 2;
    }
    .c-match-card__header--metadata p {
        order: 3;
    }
    .c-match-card__header--metadata p:last-child {
        order: 1;
    }


    .c-match-card__header--summoners-runes-container{
        grid-row: 2;
        grid-column: 2;

    }
    .c-match-card__header--items{
        grid-row: 2;
        grid-column: 3;
    }
    .c-expand-container{
        grid-row: 4;
        grid-column: 1/4;
        padding-left: 0;
        border-left: none;
        border-top: var(--global-border);
        width: 100%;
    }
    .c-expand-container button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 var(--global-whitespace-1);
    }
    .c-match-card__header--result{
        grid-row: 3;
        grid-column: 1/4;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--global-whitespace-1);

    }
    .c-match-card__header--result p{
        font-size: var(--global-fz-4);
    }

}





/* endregion */

/*endregion*/


/*region match-details*/

.c-team__grid{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 2fr;
    color: white;
    padding: var(--global-whitespace-1) 0;
    gap: 6px;
    border-bottom: var(--global-border);
    margin: 0 var(--global-whitespace-2);
}

.c-participant__general{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: .3rem;
}

.c-participant__general .c-match-card__header--summoners-runes-container{
    gap: 0;

}
.c-participant__general .c-match-card__header--summoners-runes-container img{
    width: 1.25rem;

}
.c-participant__general .c-match-card__header--champ{
    max-height: 3.2rem;
    max-width: 3.2rem;
}

.c-participant__general .c-match-card__header--champ img{
    width: 3.2rem;
}
.c-participant__general .c-match-card__header--champ span{
    font-size: var(--global-fz-1);
}
.c-match-card__header--summoner{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--global-fz-2);
    color: #C1C1C1;
}
.c-match-card__header--summoner .js-summoner-name{
    font-size: var(--global-fz-4);
    color: white;
}
.c-participant__kda{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-team__header-item:not(:first-child){
    text-align: center;
}

.c-participant__damage{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    /*justify-content: center;*/
}
.c-participant__damage-value{
    text-align: center;
}

.c-participant__damage-ratio{
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--dark-line-color);
}
.c-participant__damage-progress-bar{
    height: .4em;
    border-radius: 5px;
    /* set background width equal to progress*/
    background-color: var(--negative-color);
}
.c-participant__cs, .c-participant__gold, .c-participant__vision{
    justify-self: center;
    align-self: center;
}
.c-match__team--enemy{
    margin-top: 16px;
}


.c-participant__items{
    grid-column: 7;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    align-items: center;
    height: 3rem;
}
.c-participant__item img{
    height: 1.4rem;
}
.c-participant__items :nth-child(odd){
    grid-row: 1;
}
.c-participant__items :nth-child(even){
    grid-row: 2;
}
.c-progress-bar{
    width: calc(100% - 2rem);
    height: 1.3em;
    border-radius: 5px;
    /* set background width equal to progress*/
    position: relative;
    margin-top: var(--global-whitespace-1);
    margin-left: var(--global-whitespace-2);
    margin-right: var(--global-whitespace-2);
}
.c-progress-bar.blueTeam,
.c-progress-bar--progress.redTeam{
    background-color: var(--blue-team-color);
}
.c-progress-bar.redTeam,
.c-progress-bar--progress.blueTeam{
    background-color: var(--negative-color);
}

.c-progress-bar--progress{
    height: 100%;
    border-radius: 5px;

}
.c-progress-bar--text{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: var(--global-fz-3);
}

.c-match-card__container .u-notched-border{
    --notched-border-color: var(--dark-line-color) !important;
    --notched-border-width: .1em !important;
}
.c-match__title{
    margin: 0 var(--global-whitespace-2);
    padding: var(--global-whitespace-1) 0;
    border-bottom: var(--global-border);
}


.js-summoner-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*max-width: 80px;*/
}


@media (max-width: 576px) {
    .c-team__header{
        display: block;
    }
    .c-team__header-item{
        display: none;
    }
    .c-team__header-item:first-child{
        display: block;
    }
    .c-team__grid{
        grid-template-columns: 6rem 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 2rem);
        justify-content: start;
    }
    .c-participant__items{
        justify-self: end;
    }
    .c-participant__general{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row: 1 /3;
        gap: 0;
    }
    .c-participant__general *{
        grid-row: 1;
    }
    .c-participant__general .c-match-card__header--summoner{
        grid-row: 2;
        grid-column: 1/3;

    }
    .c-team__grid :where(.c-match-card__header--summoner, .c-match-card__header--summoners-runes-container, .c-match-card__header--champ){
        grid-row: 1;
    }
    .c-team__grid :where(.c-participant__cs, .c-participant__gold, .c-participant__vision, .c-participant__kda, .c-participant__damage){
        grid-row: 2;
    }
    .c-participant__vision, .c-participant__gold{
        display: none;
    }
    .c-participant__items{
        grid-row: 1;
        grid-column: 2/-1;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    .c-participant__item{
        grid-row: 1 !important;
    }

    .c-participant__damage{
        display: block;
        position: relative;
        height: 20px;
        align-self: center;
    }
    .c-participant__damage-ratio{
        width: 100%;
        position: relative;
    }
    .c-participant__damage-progress-bar{
        height: 20px;
    }
    .c-participant__damage-value{
        text-align: left;
        position: absolute;
        z-index: 2;
    }
    .js-summoner-level{
        display: none;
    }
    .js-summoner-name{
        max-width: 90px;
    }
    .c-participant__cs{
        grid-column: 4;
    }
    .c-participant__cs::after{
        content: " CS";
    }
    .c-participant__damage{
        grid-column: 3;
    }

}


/*endregion*/
/* Filter bar*/
/* region filter by class */

.c-filter-by-class {
    /*display: grid;*/
    /*grid-auto-flow: column;*/
    /*grid-template-rows: 1fr;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    max-width: 90rem;
    margin: 0 auto var(--global-whitespace-2);

}

@media  (max-width: 576px) {
    .c-filter-by-class {
        display: grid;
        grid-auto-flow: column;
    }

    .c-filter-by-class.active{
        display: block;
        background-color: hotpink;
    }
}
@media (min-width: 576px) {
    .c-filter-by-class {
        margin: 0 auto;
    }
}

.c-filter__classes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 var(--global-whitespace-2);
    gap: var(--global-whitespace-2);
    user-select: none;
    overflow: auto;
}
@media (min-width: 900px) {
    .spacing{
        width: 10rem;
    }
    .c-filter-by-class {
        justify-content: space-between;
    }
}

@media(max-width: 576px) {
    .c-filter__classes {
        margin-inline: var(--global-whitespace-1);
    }
}


.c-filter__class {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: var(--global-whitespace-2) 0;
}

.c-filter__class a{
    text-decoration: none;
    color: var(--dark-gray-text-color);
    outline-color: var(--global-focus-color);
}

.c-filter__class:is(:hover, :focus, .u-selected) {
    color: var(--light-neutral-text-color);
    outline: none;
    }
.c-filter__class:is(:hover, :focus-within, .u-selected) a {
    color: var(--light-neutral-text-color);
    outline: none;
}
.c-filter__class a:focus-visible{
    outline: var(--global-focus-color) solid 2px    ;
    outline-offset: 4px;
}


.c-filter__class::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: var(--primary-color);
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: width .2s ease-in-out;
}


/*line on hover over type filters*/
.c-filter__class:where(:hover, :focus)::after {
    width: 30%;
}

.c-filter__class:active::after {
    width: 60%;
}
.c-filter__class:focus-within::after{
    width: 60%;
}

.c-filter__class:where(.u-selected)::after {
    width: 120%;
}



/*endregion */

/*region filter by name*/



.c-search-champions {
    position: relative;
    justify-self: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--global-whitespace-2);
    gap: var(--global-whitespace-1);
    height: 100%;
}
.c-search-champions:not(.active)::after{
    content: "";
    position: absolute;
    right: 1px;
    width: 1px;
    height: 70%;
    background: var(--solid-line-color);
    transition: scale .2s ease-in-out;
}


.c-search-champions:hover::after{
    scale: 1 1.33;
}

@media (max-width:  576px) {
    .c-input-field:not(.active) {
        display: none;
    }
    .c-search-champions{
        height: 3.2rem;
        width: inherit;
        justify-content: space-between;
    }

}


@media (min-width: 576px) {
    .c-search-champions {
        margin-left: var(--global-whitespace-1);
        padding-right: var(--global-whitespace-2);
    }
}


.c-search-icon {
    margin-left: var(--global-whitespace-3);
}
.c-search-close-icon{
    position: absolute;
    right: var(--global-whitespace-2);
}

.c-search-champions svg{
    fill: #000;
    opacity: .3;
    height: 1.5rem;
    width: 1.5rem;
    transition: opacity .2s ease-in-out;
}

.c-search-champions svg:hover{
    opacity: 1;
}




.c-search-champions label{
    position: absolute;
    top: .5rem;
    left: var(--global-whitespace-1);
    transition: transform .2s ease-in-out;
    color: var(--dark-gray-text-color-6);
    pointer-events: none;
}
.c-search-champions input:is(:focus-visible, .c-form__input--filled) + label{
    transform: translateY(-1.25rem);
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.c-search-champions input{
    padding-block: .5rem;
    outline: none;
    background-color: transparent;
    border: none;
    flex-grow: 1;
}

@media(min-width: 576px){
    .c-search-champions input{
        max-width: 6rem;

    }
}


.c-search-champions input:hover{
    border-color: var(--solid-line-color-hover);
}



/*nothing found*/
.c-no-results{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*endregion*/



/*endregion*/
/* region utilities */

.u-horizontal{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--global-whitespace-1) 0 auto;
    max-width: 90rem;
    gap: var(--global-whitespace-2);
}

.u-is-loading{
    -webkit-animation: opacity-shift .7s infinite alternate linear;
    -o-animation: opacity-shift .7s infinite alternate linear;
    animation: opacity-shift .7s infinite alternate linear;
}


.u-gray-text {
    color: var(--dark-gray-text-color);
}

.u-uppercase {
    text-transform: uppercase;
}

.u-italic {
    font-style: italic;
}

.u-focus-border:where(:focus-visible, :active){
    border-bottom: 1px solid var(--global-focus-color) !important;
    border-top: 1px solid var(--global-focus-color) !important;
    outline: 1px solid var(--global-focus-color) !important;
}

.u-notched-border {

    position: relative;
    isolation: isolate;
    /*padding: .5em 1.5em;*/
    border: 0;
    background: var(--notched-border-background-color);
    clip-path: polygon(
        /*top left 2*/ var(--notched-border-edge-size) 0,
                /*top right*/ 100% 0,
                /*bottom 1*/ 100% calc(100% - var(--notched-border-edge-size)),
                /* bottom-right 2*/ calc(100% - var(--notched-border-edge-size)) 100%,
                /* bottom left */ 0 100%,
                /* top left  1*/ 0 var(--notched-border-edge-size));
    transition: clip-path 250ms ease-in-out;
}

.u-notched-border::before,
.u-notched-border::after {
    content: "";
    position: absolute;
    /*shorthand of top, right, ...*/
    inset: 0;
}

.u-notched-border::before {
    transition: background-color .5s;
    background: var(--notched-border-color);
    z-index: -2;
}

.u-notched-border::after {
    transition: clip-path .5s ease;
    background: var(--notched-border-background-color);
    z-index: -1;
    clip-path: polygon(
        /*top left 2*/ calc(var(--notched-border-edge-size) + var(--notched-border-width) * .25) var(--notched-border-width),
                /*top right*/ calc(100% - var(--notched-border-width)) var(--notched-border-width),
                /*bottom 1*/ calc(100% - var(--notched-border-width)) calc(100% - calc(var(--notched-border-edge-size) + var(--notched-border-width) * .25)),
                /* bottom-right 2*/ calc(100% - calc(var(--notched-border-edge-size) + var(--notched-border-width) * .25)) calc(100% - var(--notched-border-width)),
                /* bottom left */ var(--notched-border-width) calc(100% - var(--notched-border-width)),
                /* top left  1*/ var(--notched-border-width) calc(var(--notched-border-edge-size) + var(--notched-border-width) * .25)
    );
}

.u-notched-content {
    /*background: var(--filter-background-color);*/
    --notched-edge-size: var(--global-whitespace-3);
    clip-path: polygon(calc(100% - var(--notched-edge-size)) 0%, 100% var(--notched-edge-size), 100% 100%, 0 100%, 0 0);
    transition: clip-path .5s;
}

.u-notched-content:where(:hover, :focus, :active) {
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.c-card__container:focus-visible{
    outline: 4px solid var(--global-focus-color);
}
.c-card__container:focus-visible .c-card{
    clip-path: none;
}


.u-hidden {
    display: none;
}

.u-hidden-2.u-hidden-3{
    display: none;
}

.u-hidden-2:not(.u-hidden-3){
    display: none;
}
.u-hidden-3:not(.u-hidden-2){
    display: none;
}


.u-serif {
    font-family: var(--seriffont);
}

.u-sans {
    font-family: var(--sans-font);
}

.u-fs-small {
    font-size: var(--global-fz-3);
}

.u-negative-color {
    color: var(--negative-color) !important;
}

.u-positive-color {
    color: var(--positive-color) !important;
}

.u-mt-md {
    margin-top: var(--global-whitespace-2);
}
.u-mb-md {
    margin-bottom: var(--global-whitespace-2);
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

.u-mb-lg{
    margin-bottom: 5rem;
}

.u-mg-md{
    margin: var(--global-whitespace-2);
}

.u-rotate-180{
    rotate: 180deg;
}
.perfect{
    color: var(--primary-color) !important;
}
.u-overflow-hidden{
    overflow-y: hidden;
}

.is-invalid {
    /*shake animation*/
    animation: error .5s;

}


/*endregion*/

@media (max-width: 576px) {
    .u-1-of-1-bp-1 {
        flex-basis: 100%;
    }
    .u-center{
        margin-inline: 0;
    }

}

@media (min-width: 576px) {
    .u-side-fill {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

/*region animation keyframes*/
@keyframes error {

    5% {
        translate: -8px 0;
    }
    10% {
        translate: 7px 0;
    }
    20% {
        translate: -6px 0;
    }
    30% {
        translate: 5px 0;
    }
    40% {
        translate: -4px 0;
    }
    50% {
        translate: 3px 0;
    }
    60% {
        translate: 2px 0;
    }
    70% {
        translate: 1px 0;
    }
    80% {
        translate: 0 0;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes append-animate {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*@keyframes append-animate-reverse {*/
/*    from {*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*        display: block;*/
/*    }*/
/*    to {*/
/*        transform: translate(0, -100%);*/
/*        opacity: 0;*/
/*        display: none;*/
/*    }*/
/*}*/

@keyframes append-animate-from-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes expand {
    from {
        transform: scale(0);
        translate: -50% -50%;
        /*opacity: 0;*/
    }
    to {
        transform: scale(1);
        translate: -50% -50%;
        /*opacity: 1;*/
    }
}

@keyframes slide-in {
    from {
        transform: translatey(100vh);
    }
    to {
        transform: translatey(0);
    }
}

@keyframes opacity-shift {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.78;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*endregion*/
